@media only screen and (max-width: 1440px) {
  .mobile-app-info h1 {
    font-size: 2rem;
  }

  .mobile-app-img-wrapper img {
    max-width: 350px;
  }
}

@media only screen and (max-width: 1200px) {
  .delivery-info {
    left: -100px;
    top: 15px;
  }

  .mobile-app-info h1 {
    font-size: 1.5rem;
  }

  .mobile-app-img-wrapper img {
    max-width: 300px;
  }

  .food-list-items {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

@media only screen and (max-width: 1124px) {
  img.header-image {
    width: 500px;
  }

  .order-info h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1023px) {
  .nav-menu {
    display: none;
  }

  .sidebar-menu {
    display: block;
  }

  img.header-image {
    width: 400px;
  }

  .delivery-info {
    top: 25px;
    left: -125px;
  }

  .mobile-app-wrapper {
    max-width: 95%;
    grid-template-columns: auto;
    justify-content: start;
    gap: 8rem;
    padding: 4rem 0 0 2.5rem;
  }

  .mobile-app-img-wrapper {
    order: 2;
  }

  .mobile-app-info {
    order: 1;
  }

  .mobile-app-text {
    max-width: 700px;
  }
}

@media only screen and (max-width: 900px) {
  .header-bottom {
    grid-template-areas:
      "order_info"
      "header_image"
      "order_food";
    justify-items: center;
  }

  .header-image-wrapper {
    justify-self: auto;
  }

  .order-food {
    margin-top: 6rem;
  }

  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-left {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .find-store > img {
    width: 180px;
  }

  .find-store-content h1 {
    font-size: 40px;
  }

  .categories-list {
    overflow: scroll;
  }

  .mobile-app-text {
    max-width: 400px;
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-social-media {
    justify-content: center;
  }

  .footer-social-media > img {
    margin: 0 1rem;
  }

  .delivery-info {
    top: initial;
    left: -75px;
    bottom: -65px;
  }
}

@media only screen and (max-width: 768px) {
  .find-store-content h1 {
    font-size: 30px;
  }

  .location-field {
    width: 480px;
  }

  .food-list-items {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media only screen and (max-width: 600px) {
  .find-store-content h1 {
    font-size: 20px;
  }

  .location-field {
    width: 300px;
  }

  .find-store-content p {
    font-size: 12px;
  }

  .footer-wrapper {
    gap: 4rem;
    padding: 2rem;
  }

  .mobile-app-wrapper {
    max-width: 100%;
    justify-content: center;
    border-radius: 500px 500px 0 0;
    text-align: center;
    padding: 4rem 0 0 0;
  }

  .mobile-app-info {
    align-items: center;
  }

  .find-store > img {
    width: 150px;
  }

  img.header-image {
    width: 350px;
  }

  .delivery-info {
    width: 130px;
    left: -10px;
    font-size: 14px;
  }

  .delivery-info-title span:first-child {
    font-size: 1rem;
  }

  .header-logo {
    margin-right: 0;
    max-width: 45px;
  }

  .header-top {
    margin-bottom: 4rem;
  }

  .download-app {
    font-size: 12px;
  }

  .download-app-link {
    padding: 15px 25px;
  }

  .footer-wrapper {
    font-size: 14px;
    line-height: 24px;
  }

  .mobile-app-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 425px) {
  .download-app {
    font-size: 10px;
  }

  .download-app-link {
    padding: 12px 20px;
  }

  .find-store-content h1 {
    font-size: 16px;
  }

  .find-store-content p {
    font-size: 11px;
  }

  .location-field {
    width: 280px;
  }

  .order-count {
    font-size: 1rem;
  }

  .order-link-main {
    font-size: 1rem;
  }

  img.header-image {
    width: 300px;
  }

  .order-link-main {
    margin-left: 0.8rem;
  }

  .header-logo {
    max-width: 38px;
  }

  .mobile-app-text {
    font-size: 11px;
  }

  .sale-off-main {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }

  .food-list-items {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }
}
